html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1440px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  border: 1px solid grey;
  margin: 2em;
  padding: 1em;
  border-radius: 1em;
}
